# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# IDE/Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp

# Coverage files
coverage/
.nyc_output/

# Linting cache
.eslintcache


.prettierignore
